@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #2298e6, #863ce7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container {
  background-color: rgba(226, 226, 226, 0.815);
  height: 90vh;
  width: 600px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.title-container {
  font-family: "Montserrat", serif;
  padding-bottom: 2rem;
}

input[type="text"] {
  font-family: "Roboto", serif;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #2298e6;
  width: 70%;
  padding-bottom: 4px;
  color: #96463d !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 1.5rem;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2298e6 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #2298e6;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 300;
}

button:active {
  outline: none;
}

button:hover {
  background-color: #1b87cf;
  font-weight: 400;
}

a {
  color: #96463d;
  font-weight: 400;
  font-family: "Roboto", serif;
}

a:hover {
  text-decoration: none;
  color: #2c3e50;
}

img {
  border-radius: 5px;
}

.info__info {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.info__key {
  color: #96463d;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
  font-family: "Roboto", serif;
}

.info__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}